# Package
scope = @united-paradigms
workspaces = null
include-workspace-root = false
workspaces-update = 

## Initialization
init-version = 0.1.0
init-license = UNLICENSED

## Versioning
preid = pre
allow-same-version = false

### Git integration
git-tag-version = true
tag-version-prefix = versions/
message = Bumps the package version to %s
sign-git-commit = true
sign-git-tag = true
commit-hooks = true

## Output
### Packaging
pack-destination = ./artifacts/npm/

### Software bills of materials
sbom-format = spdx
sbom-type = library

## Lockfiles
lockfile-version = 3
omit-lockfile-registry-resolved = false
replace-registry-host = never
format-package-lock = false

# Registry
registry = https://registry.npmjs.org/
strict-ssl = true

## Installation
### Method
install-strategy = hoisted
install-links = false
global = false

### Inclusions
include = null
omit = null
before = null

### Dependency resolution
prefer-dedupe = false
package-lock = true
package-lock-only = false
strict-peer-deps = true
legacy-peer-deps = false

### Environment
cpu = null
os = null
libc = null
engine-strict = true

### Serialization
save = true
save-dev = false
save-optional = false
save-bundle = false
save-peer = false
save-prod = false
save-exact = false
save-prefix = ^

### Post-installation
ignore-scripts = false
node-options = null
rebuild-bundle = true
bin-links = true

## Execution
call = ;
if-present = false

## Publication
access = public
provenance = true

## Auditing
audit = true
audit-level = null

# Shared
tag = latest
umask = 0o000